<!-- Button trigger modal -->
<button type="button" class="btn btn-primary addDisplay" style="display: none;" ng-click="addBasicInfo()" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    新增基本信息
</button>

<button type="button" class="btn btn-success updateDisplay" style="display: none;" ng-click="updateBasicInfo()" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    编辑基本信息
</button>

<div class="updateDisplay" style="display: none;text-align: center;border-top: 1px dotted #0fd0a1;margin-top: 25px;">
    <h2>基本信息</h2>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 basicInfo_main updateDisplay" style="display: none;">
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>姓&emsp;&emsp;名：</label>
        <label>{{basicInfo.name}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>性&emsp;&emsp;别：</label>
        <label>{{basicInfo.sex}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>出生日期：</label>
        <label>{{basicInfo.birthday}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>最高学历：</label>
        <label>{{basicInfo.education}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>专业名称：</label>
        <label>{{basicInfo.speciality}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>工作年限：</label>
        <label>{{basicInfo.workTime}}</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>政治面貌：</label>
        <label>{{basicInfo.politicsStatus}}</label>
    </div>
    <div class="col-lg-4col-md-4 col-sm-4 info">
        <label>婚姻状况：</label>
        <label>{{basicInfo.marriage}}</label>
    </div>
    <!--<div class="col-lg-4 col-md-4 col-sm-4 info">
        <label>联系方式：</label>
        <label>{{basicInfo.phone}}</label>
    </div>-->
    <div class="col-lg-12 col-md-12 col-sm-12 info">
        <label>通讯地址：</label>
        <label>{{basicInfo.address}}</label>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 info">
        <label>技能描述：</label>
        <label>{{basicInfo.skill}}</label>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 info">
        <label>个人简介：</label>
        <div class="description">
            {{basicInfo.introduction}}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>

                </h4>
            </div>
            <div class="modal-body">
                <div style="padding: 10px;width: 50%">
                    <label>姓&emsp;&emsp;名：</label>
                    <input type="text" ng-model="basicInfo.name" class="form_input"/>
                </div>

                <div class="form_tr" style="padding-top: 17px;">
                    <label>
                        性&emsp;&emsp;别：
                    </label>
                    <input type="radio" name="sex" value="男" checked/>
                    <span style="padding-right: 30px;"><i class="fa fa-mars" aria-hidden="true" style="font-size: 16px;color: #00b3ee;font-weight: 700"></i></span>
                    <input type="radio" name="sex" value="女"/>
                    <span><i class="fa fa-venus" aria-hidden="true" style="font-size: 16px;color: #e662d2;font-weight: 700"></i></span>
                </div>
                <!--<div class="form_tr" style="position: relative;padding: 17px;">
                    <label style="margin-left: -10px;">出生日期：</label>
                    <div class="input-group date" id='birthDate'>
                        <input type="text" class="form-control" ng-model="basicInfo.birthday">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>-->
                <div class="form_tr">
                    <label>出生日期：</label>
                    <input type="text" ng-model="basicInfo.birthday" class="form_input"/>
                </div>
                <div class="form_tr">
                    <label>最高学历：</label>
                    <input type="text" ng-model="basicInfo.education" class="form_input"/>
                </div>
                <div class="form_tr">
                    <label>专业名称：</label>
                    <input type="text" ng-model="basicInfo.speciality" class="form_input"/>
                </div>
                <div class="form_tr">
                    <label>工作年限：</label>
                    <input type="text" ng-model="basicInfo.workTime" class="form_input"/>
                </div>
                <div class="form_tr">
                    <label>政治面貌：</label>
                    <input type="text" ng-model="basicInfo.politicsStatus" class="form_input"/>
                </div>
                <div class="form_tr">
                    <label>婚姻状况：</label>
                    <input type="text" ng-model="basicInfo.marriage" class="form_input"/>
                </div>
                <!--<div class="form_tr">
                    <label>联系方式：</label>
                    <input type="text" ng-model="basicInfo.phone" class="form_input"/>
                </div>-->
                <div style="clear: both;padding: 10px;">
                    <label>通讯地址：</label>
                    <input type="text" ng-model="basicInfo.address" class="form_input"/>
                </div>
                <div style="padding: 10px;">
                    <label>技能描述：</label>
                    <input type="text" ng-model="basicInfo.skill" class="form_input"/>
                </div>
                <div style="padding: 10px;">
                    <label>个人简介：</label>
                    <textarea type="text" ng-model="basicInfo.introduction" rows="4" class="form_input" style="width: 87%"/>
                </div>


            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-success addInfoBtn" ng-click="saveAddInfo(basicInfo)">添加</button>
                <button type="button" class="btn btn-success updateInfoBtn" ng-click="saveUpdateInfo(basicInfo)">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

