<div class="imageIndex" ng-controller="imageCtrl">
    <div class="slider">
        <ul class="slider-main">
            <li class="slider-panel">
                <a href="#" target="_blank">
                    <img alt="first" src="../image/step.png">
                </a>
            </li>
            <li class="slider-panel">
                <a href="#" target="_blank">
                    <img alt="second" src="../image/step-a.png">
                </a>
            </li>
            <li class="slider-panel">
                <a href="#" target="_blank">
                    <img alt="third" src="../image/step-b.png">
                </a>
            </li>
        </ul>
        <div class="slider-extra">
            <ul class="slider-nav">
                <li class="slider-item"></li>
                <li class="slider-item"></li>
                <li class="slider-item"></li>
            </ul>
            <div class="slider-page">
                <a class="slider-pre" href="javascript:;;"><</a>
                <a class="slider-next" href="javascript:;;">></a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <hr>
    <div style="text-align: center;padding-bottom: 10px">
        <span style="font-size: 30px;">推荐模板</span>
        <a ui-sref="templateStore" class="btn btn-success my-btn-success" style="margin-left: 10px;">更多模板>></a>
        <hr>
    </div>

    <div ng-repeat="recommendTemplate in recommendTemplates" ng-click="clickRecommendTemplate(recommendTemplate)" class="col-lg-2 col-md-2 col-sm-2" style="width: 20%">
        <div class="thumbnail">
            <a>
                <div style="width: 100%;height: 250px;text-align: center;">
                    <img ng-src="{{recommendTemplate.templateUrl}}" style="width: auto;height: auto;max-height: 100%;max-width: 100%">
                </div>

            </a>
            <div class="caption">
                <a>
                    <span>{{recommendTemplate.templateName}}</span>
                    <span style="float: right;font-size: 16px">¥{{recommendTemplate.price}}</span>
                </a>
                <!--<p>作者：岁月无痕</p>-->
                <div style="clear: both;margin-top: 10px;text-align: center">
                    <a style="padding-right: 30px;">
                        <i class="fa fa-download" style="color: #57ad68"></i>
                        {{recommendTemplate.downloadCount}}人下载
                    </a>
                    <a>
                        <i class="fa fa-heart" style="color: #F27474"></i>
                        {{recommendTemplate.likeCount}}人喜欢
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 10px;background: #fbfbfb">
    <div style="text-align: center;padding-bottom: 10px">
        <hr>
        <h2>简历代写</h2>
        <h5 style="color: #959595">专家领路，资深HR帮你定制一份百投百中的简历</h5>
        <hr>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="width: 20%">
        <div class="thumbnail">
            <a href="#" target="_blank">
                <img src="../image/index.png" style="width: 100%;height: 150px">
            </a>
            <div class="caption" style="text-align: center">
                <a href="#" target="_blank">
                    <h5>黄先生</h5>
                </a>
                <p style="color: #959595">猎头公司创始人</p>
                <div>
                    <span class="hr_desc">产品</span>
                    <span class="hr_desc">计算机</span>
                    <span class="hr_desc">软件</span>
                </div>
                <div style="margin-top: 10px">
                    <a href="#" style="padding-right: 30px;">
                        <i class="fa fa-smile-o"></i>
                        99%
                    </a>
                    <a href="#">
                        <i class="fa fa-commenting"></i>
                        0
                    </a>
                </div>
            </div>
        </div>

    </div>


</div>