<div style="border-bottom: 1px dotted">
    <!--<div class="col-md-1"></div>-->
    <div class="col-lg-3 col-md-3 col-sm-3" id="aside" style="position: fixed;height: 100%;width: 20%;background-color: #384145;">
        <ul ng-init='activeTab=1' style="padding-top: 50px;">
            <li ng-class='{active:activeTab==1}'>
                <a ng-click='activeTab=1'>
                    <span><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                    <span>编辑资料</span>
                </a>

            </li>
            <li ng-class='{active:activeTab==2}' >
                <a ng-click='activeTab=2'>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <span>修改密码</span>
                </a>
            </li>
            <!--<li ng-class='{active:activeTab==3}' >
                <a href="javascript:void(0);" ng-click='activeTab=3'>
                    <span><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                    <span>修改密码</span>
                </a>

            </li>-->
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" style="float: right;" >
        <div ng-show='activeTab==1'>
            <div class="list-container">
                <form class="form-horizontal" style="width: 60%;">
                    <div class="form-group" style="margin-top: 25px">
                        <div class="col-sm-5"></div>
                        <div id="headDiv" class="col-sm-6">
                            <img class="img-circle" ng-src="{{avatar}}" id="userHead" title="点击更改头像"
                                 onclick="getPicture()" style="cursor: pointer;width: 120px;height: 120px;border: 1px solid#f0f0f0">
                            <div class="btn btn-default changeAvatar" ng-click="changeAvatar(user.username)">更换</div>
                        </div>
                        <input type="file" file-model="myFile" onchange="setImage(this,headDiv,userHead)" id="photo" style="display: none"/>
                    </div>
                    <div class="form-group" style="margin-top: 6%;">
                        <label for="name" class="col-sm-3 control-label" style="text-align: center">
                            <span>昵&emsp;&emsp;称</span>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name"
                                   ng-model="user.nickname"><!--placeholder="{{person.nickname}}"-->
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        <label class="col-sm-3 control-label" style="text-align: center">
                            <span>性&emsp;&emsp;别</span>
                            <i class="fa fa fa-male" aria-hidden="true"></i>
                        </label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                <i class="fa fa-mars" aria-hidden="true" style="font-size: 16px;color: #00b3ee;font-weight: 700"></i>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <i class="fa fa-venus" aria-hidden="true" style="font-size: 16px;color: #e662d2;font-weight: 700"></i>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        <label for="name" class="col-sm-3 control-label" style="text-align: center">
                            <span>所在城市</span>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="user.city"><!--placeholder="{{person.nickname}}"-->
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        <label for="name" class="col-sm-3 control-label" style="text-align: center">
                            <span>求职状态</span>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </label>
                        <div class="col-sm-9">
                            <select id="job_status" class="form-control">
                                <option value="0">正在找工作</option>
                                <option value="1">在职</option>
                                <option value="2">离职</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        <label class="col-sm-3 control-label" style="text-align: center">
                            <span>个人介绍</span>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3"
                                      ng-model="user.extra"></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 30px;">
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-success btn-default" ng-click="updateUser(user)" style="margin-left: 220px;width: 33%;padding: 8px">保存</button>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" ng-click="reset()" class="btn btn-success btn-default" style="margin-left: 50px;width: 43%;padding: 8px;color: #449d44;background-color: #ffffff;border: 1px solid #449d44;outline:none;">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show='activeTab==2' style="margin-top: 100px;">
            <div style="padding: 15px;">
                <label>旧密码&emsp;：</label>
                <input type="password" ng-model="oldPwd" class="form_input" style="width: 40%;"/>
            </div>
            <div style="padding: 15px;">
                <label>新密码&emsp;：</label>
                <input type="password" ng-model="newPwd" class="form_input" style="width: 40%;"/>
            </div>
            <div style="padding: 15px;">
                <label>确认密码：</label>
                <input type="password" ng-model="comfirePwd" class="form_input" style="width: 40%;"/>
            </div>
            <div class="btn btn-success" ng-click="changePwd(oldPwd,newPwd,comfirePwd)" style="padding: 10px;width: 15%;margin-top: 30px;margin-left: 105px;">修改</div>
            <div class="btn  btn-default" ng-click="resetPwd(oldPwd,newPwd,comfirePwd)"  style="padding: 10px;width: 15%;margin-top: 30px;margin-left: 25px;color: #57ad68;border: 1px solid #57ad68;">重置</div>

        </div>
        <!--<div ng-show='activeTab==3'>
            <p >修改密码：</p>

        </div>-->
    </div>
</div>

