<div class="detail-container">
    <div class="row">
        <div class="col-md-8 main">
            <div class="main-top">
                <a class="user-icon" href="#/user/{{user.userId}}" target="_blank"><img src="../image/user/user01.jpg" alt=""></a>
                <a ui-sref="editUser" class="btn my-btn-message">
                    编辑资料
                </a>
                <div class="title">
                    <a href="#/user/{{user.userId}}" class="name">{{user.nickname}}</a>
                </div>
                <div class="info">
                    <span>南京的雨</span>
                </div>
            </div>
            <!--<ul id="topicTab" class="nav nav-tabs">
                <li class="this-active">
                    <a href="javascript:void(0);" ng-click="selectAllArticle()">
                        <img ng-src="img/svg/article.svg">
                        文章
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="selectAllNew()">
                        <img ng-src="img/svg/bells.svg">
                        动态
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="selectAllComment()">
                        <img ng-src="img/svg/message.svg">
                        最新评论
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="selectHots()">
                        <img ng-src="img/svg/fire.svg">
                        热门
                    </a>
                </li>
            </ul>-->
            <!--文章列表-->
            <div class="list-container">
                <!--<ul class="note-list">
                    <li ng-repeat="article in articles track by $index" id="{{article.articleCustom.articleId}}"
                        class="{{article.articleCustom.thumbnail != null ? 'have-img' : ''}}">
                        <a class="wrap-img" href="#/article/{{article.articleCustom.articleId}}" target="_blank">
                            <img ng-src="{{article.articleCustom.thumbnail}}">
                        </a>
                        <div class="content">
                            <div class="author">
                                <a class="avatar" href="#" target="_blank">
                                    <img ng-src="{{user.head}}" alt="">
                                </a>
                                <div class="name">
                                    <a href="#" class="blue-link" target="_blank">
                                        {{user.nickname}}
                                    </a>
                                </div>
                                <a href="#/article/{{article.articleCustom.articleId}}" class="title" target="_blank">
                                    {{article.articleCustom.title}}
                                </a>
                                <p class="abstract">{{article.articleCustom.content|contentFilter}}</p>
                                <div class="meta">
                                    <a target="_blank" href="#/article/{{article.articleCustom.articleId}}">
                                        <i class="fa fa-eye"></i> {{article.articleCustom.readCount}}
                                    </a>
                                    <a target="_blank" href="#/article/{{article.articleCustom.articleId}}#comments">
                                        <i class="fa fa-comment"></i> {{article.articleCustom.commentCount}}
                                    </a>
                                    <span><i class="fa fa-heart"></i> {{article.articleCustom.likeCount}}</span>
                                    &lt;!&ndash;<span><i class="fa fa-dollar"></i> {{article.play_user}}</span>&ndash;&gt;
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="load-more">加载更多</a>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="title">个人简介</div>
            <div class="description">您还没有留下什么痕迹哦~</div>
        </div>
    </div>
</div>
