<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>主页 - RESUME</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content=""/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="sweetalert/sweetalert.css"/>
  <link rel="stylesheet" href="css/index.css"/>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script  src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="sweetalert/sweetalert.min.js"></script>

  <style type="text/css">
    .user ul{
      width: 112px;
      /*background: #ffffff;*/
      /*background: yellow;*/
      position: absolute;
      right: 95px;
      top: 40px;
      padding-top: 20px;
      display: none;
      z-index: 9;
      border-top: none;
      cursor: pointer;
    }
    .user ul li{
      float: none;
      height: 32px;
      line-height: 32px;
      border-bottom: 1px dotted #f5f6f9;
      display: block;
      margin: 0;
      width: 100%;
      text-align: center;
    }
    .user ul li:hover{
      color: #00b3ee;
      /*color: #57ad68;*/
    }
    .user:hover ul{
      display: block;
    }
  </style>

<body ng-app="resumeApp">
<!--<div>
  <button ui-sref="homePage">HomePage测试</button>
  <a href="sign_in.html">登录测试</a>
  <a href="register.html">注册测试</a>
</div>-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="width-limit">
    <!--左上角-->
    <a class="logo" href="#">
      <i class="fa fa-map-signs" aria-hidden="true" style="font-size: 24px;"></i>
      <span style="font-family: STLiti;font-size: 18px">PERSONAL RESUME</span>
    </a>
    <!-- 右上角-->
    <!--登录显示我的主页-->
    <a class="btn home-btn" href="write.html" ng-if="token">
      我的主页
    </a>
    <a href="register.html" class="btn sign-up" ng-if="!token">注册</a>
    <a href="sign_in.html" class="btn log-in"  ng-if="!token">登录</a>
    <div class="user" style="position: relative">
      <div data-hover="dropdown" ng-if="token">
        <a class="avatar user-icon">
          <img ng-src={{avatar}} alt="我的头像"/>
        </a>
        <ul ng-controller="outCtrl">
          <li ui-sref="userPage">求职中心</li>
          <li>我的简历</li>
          <li>修改密码</li>
          <li>账户绑定</li>
          <li ng-click="signUp()">退出</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div id="menu" class="collapse navbar-collapse">
        <ul>
          <li class="active">
            <a ui-sref="homePage">
              <span class="menu-text">首页</span>
              <i></i>
            </a>
          </li>
          <li>
            <a ui-sref="templateStore">
              <span>模板商城</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span>在线制作</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span>简历代写</span>
            </a>
          </li>
          <li>
            <a href="#/">
              <span>职场说</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div ui-view></div>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/homePageController.js"></script>
<script type="text/javascript" src="js/userPageController.js"></script>

</body>
</html>
