<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <title>主页 - RESUME</title>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="expires" content=""/>
  <link  rel="shortcut icon" href="image/emoji.png">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="sweetalert/sweetalert.css"/>
  <link rel="stylesheet" href="css/index.css"/>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--<script src="bower_components/moment/min/moment-with-locales.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
  <script src="bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="bower_components/bootstrap-datetimepicker/src/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script  src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="sweetalert/sweetalert.min.js"></script>

  <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

  <style type="text/css">
    .user ul{
      width: 112px;
      position: absolute;
      /*right: 95px;*/
      right: 75px;
      top: 40px;
      padding-top: 20px;
      display: none;
      z-index: 9;
      border-top: none;
      cursor: pointer;
    }
    .user ul li{
      float: none;
      height: 32px;
      line-height: 32px;
      /*border-bottom: 1px dotted #f5f6f9;*/
      display: block;
      /*margin: 0;*/
      width: 100%;
      text-align: center;
      border-radius: 6px;
      color: #57ad68;
      border: 1px solid #57ad68;
      background-color: #ffffff;
      margin-bottom: 7px;
    }
    .user ul li:hover{
      background-color: #57ad68;
      color: #ffffff;
    }
    .user:hover ul{
      display: block;
    }
    #go_top{
      position:fixed;
      left: 90%;
      bottom: 50px;
      color: #57ad68;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
    }
  </style>

<body ng-app="resumeApp" ng-controller="homePageController">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="width-limit">
    <!--左上角-->
    <a class="logo" href="#">
      <i class="fa fa-map-signs" aria-hidden="true" style="font-size: 24px;"></i>
      <span style="font-family: STLiti;font-size: 18px">PERSONAL RESUME</span>
    </a>
    <!-- 右上角-->
    <!--登录显示用户昵称-->
    <a class="btn home_nickname" ng-if="token">
      {{nickname}}
    </a>
    <a href="register.html" class="btn sign-up" ng-if="!token">注册</a>
    <a href="sign_in.html" class="btn log-in"  ng-if="!token">登录</a>
    <div class="user" style="position: relative">
      <div data-hover="dropdown" ng-if="token">
        <a class="avatar user-icon">
          <img ng-src={{avatar}} alt="我的头像"/>
        </a>
        <ul ng-controller="outCtrl">
          <li ui-sref="userPage">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <span>个人中心</span>
          </li>
          <li ui-sref="resumeInfo.basicInfo">
            <span><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
            <span>简历信息</span>
          </li>
          <!--<li>
            <span><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
            <span>我的简历</span>
          </li>
          <li>
            <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
            <span>账户绑定</span>
          </li>
          <li>
            <span><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
            <span>修改密码</span>
          </li>-->
          <li ng-click="signUp()">
            <span>退出</span>
            <span><i class="fa fa-forward" aria-hidden="true"></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div id="menu" class="collapse navbar-collapse">
        <ul>
          <li class="active">
            <a ui-sref="homePage">
              <span class="menu-text">首页</span>
              <i></i>
            </a>
          </li>
          <li>
            <a ui-sref="templateStore">
              <span>模板商城</span>
            </a>
          </li>
          <li>
            <a ng-click="zaixian()">
              <span>在线制作</span>
            </a>
          </li>
          <li>
            <a ui-sref="resumeWriting">
              <span>简历代写</span>
            </a>
          </li>
          <li>
            <a ng-click="zhichang()">
              <span>职场说</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div ui-view style="padding-top: 100px; "></div>

<!--返回顶部-->
<div id="go_top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" style="font-size: 55px;"></i>
  <div>BACK TOP</div>
</div>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/homePageController.js"></script>
<script type="text/javascript" src="js/templateStoreCtrl.js"></script>
<script type="text/javascript" src="js/userPageController.js"></script>
<script type="text/javascript" src="js/userSettingController.js"></script>
<script type="text/javascript" src="js/singleTemplateCtrl.js"></script>
<script type="text/javascript" src="js/resumeWritingCtrl.js"></script>
<script type="text/javascript" src="js/resumeInfoCtrl/basicInfoCtrl.js"></script>
<script type="text/javascript" src="js/resumeInfoCtrl/jobObjectCtrl.js"></script>
<script type="text/javascript" src="js/resumeInfoCtrl/educationCtrl.js"></script>
<script type="text/javascript" src="js/resumeInfoCtrl/workCtrl.js"></script>

</body>
</html>
