<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="shortcut icon" href="image/emoji.png">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/loginController.js"></script>

</head>

<body ng-app="resumeApp" ng-controller="loginController">
<div class="sign">
    <!--图标-->
    <a href="index.html" style="color: black;">
        <div class="logo">
            <i class="fa fa-map-signs" aria-hidden="true" style="font-size: 80px"></i>
            <span class="logo_title">PERSONAL RESUME</span>
        </div>
    </a>
    <!--主要内容-->
    <div class="main">
        <h4 class="title">
            <ul class="normal-title">
                <li class="active">
                    <a href="sign_in.html">登录</a>
                </li>
                <b>·</b>
                <li>
                    <a href="register.html">注册</a>
                </li>
            </ul>
        </h4>
        <div class="js-sign-in-container">
            <form  method="post" accept-charset="utf-8">
                <!-- 输入手机号 -->
                <div class="input-prepend restyle js-normal">
                    <label>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </label>
                    <input placeholder="手机号" type="text" ng-model="account"/>
                </div>
                <!-- 输入密码 -->
                <div class="input-prepend">
                    <label>
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </label>
                    <input placeholder="密码" type="password" ng-model="password"/>
                </div>
                <div></div>
                <div class="remember_btn">
                    <input value="true" checked="checked" type="checkbox" name="session[remember_me]" id="session_remember_me">
                    <span>记住账号</span>
                </div>
                <div class="forget_btn">
                    <a class="forget_pwd" href="javascript:void(0);">忘记密码 ?</a>
                </div>
                <input name="login" value="登录" class="all_btn" type="submit" ng-click="signIn(account,password)"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>